<section class="card login">
<div class="card meetings cf">

  <div class="textintro">
    <h2 class="message" ng-model="message">Hey there, {{currentUser.firstname}}!</h2>
    <br>
  </div>
  <div clas="=textintro">
    <h1 >My Info</h1>
    <br>
    <h2>Date Joined: {{currentUser.date}}</h2>
  <br>
    <h2>Favorite Food: {{currentUser.favoriteFood}}</h2>
    <br>
    <h2>Vacation Spot: {{currentUser.vacationSpot}}</h2>
    <br>
    <h2>Number of Kids: {{currentUser.numberOfKids}}</h2>
    <br>
    <h2>Biggest Fear: {{currentUser.biggestFear}}</h2>
    <br>
    <h2>Future Cause of Death: {{currentUser.causeOfDeath}}</h2>
    <br>
    <h2>Skill that you need to work on: {{currentUser.skillToWorkOn}}</h2>
    <br>
    <h2>Your spirit animal: {{currentUser.spiritAnimal}}</h2>



  </div>
</div><!-- meetings cf -->
</section>