<section class="card login">
<div class="card meetings cf">

  <div class="textintro">
    <h2 class="message" ng-model="message">Hey there, {{currentUser.firstname}}!</h2>
    <br>
  </div>
  <div clas="=textintro">
    <h1 >This is what your soul tells me...</h1>
    <br>

  </div>
</div><!-- meetings cf -->

  <div>
    <br>
  <table>
    <tr>
      <td width ="55%">
        <h2>Time of soul reading:</h2>
      </td>
      <td>
        <h2>{{currentUser.date}}</h2>
      </td>
    </tr>

    <tr>
      <td width ="55%">
        <h2>Your spirit vacation spot:</h2>
      </td>
      <td>
        <h2>{{currentUser.vacationSpot}}</h2>
      </td>
    </tr>

    <tr>
      <td width ="55%">
        <h2>Number of Children:</h2>
      </td>
      <td>
        <h2>{{currentUser.numberOfKids}}</h2>
      </td>
    </tr>

    <tr>
      <td width ="55%">
        <h2>Your biggest fear:</h2>
      </td>
      <td>
        <h2>{{currentUser.biggestFear}}</h2>
      </td>
    </tr>

    <tr>
      <td width ="55%">
        <h2>Your future cause of death:</h2>
      </td>
      <td>
        <h2>{{currentUser.causeOfDeath}}</h2>
      </td>
    </tr>

    <tr>
      <td width ="55%">
        <h2>Your spirit animal:</h2>
      </td>
      <td>
        <h2>{{currentUser.spiritAnimal}}</h2>
      </td>
    </tr>


  </table>


  </div>


</section>